* {
  justify-content: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 50px;
}
.container {
  text-align: center;
  justify-content: center;
  background-color: 0px 0px 10px #efefef;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #efefef;
  position: relative;
  width: 550px;
  height: 100%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 2;
  /* border:2px solid deepskyblue; */
}
#search1 {
  border-radius: 10px;
  width: 500px;
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
  border:1px solid black;
}
#search1:focus{
  border-radius: 5px;
  border: 2px solid black;
}

#card {
  width: 500px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  margin-top: 20px;
}
#task {
  border: none;
  outline: none;
  padding: 2px;
  border-radius: 10px;
  padding-left: 2px;
  width: 100%;
  height: 37px;
  border: 1px solid black;
}
#task:focus{
  border-radius: 5px;
  border: 2px solid black;
}
input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 0px;
  width: 90%;
  height: 100%;
  /* border:2px solid red; */
}
.text {
  display: flex;
  width: 500px;
  height: 40px;
  /* border:2px solid black; */
}
.time {
  display: flex;
  padding: 20px;
  cursor: pointer;
}
img {
  mix-blend-mode: multiply;
}
.calendar {
  width: 300px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  text-align: center;
}
.day {
  padding: 5px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 
}
.day-cell {
  padding: 5px;
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.day-cell:hover {
  border-radius: 50em;
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
  cursor: pointer;
}
.close {
  display: flex;
  cursor: pointer;
  font-size: 25px;
}

.container1 {
  width: 140px;
  height: 90px;
  text-align: center;
  position: relative;
  justify-content: center;
  padding: 10px;
  display: flex;
  margin: auto;
}

.another {
  display: flex;
  cursor: pointer;
  font-size: 20px;
}

#sec {
  cursor: pointer;
}
#addTask {
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
  border-radius: 9px;
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
}
img {
  mix-blend-mode: multiply;
}

.deleteBtn {
  background-color: red;
  border-style: none;
  padding: 3px;
  border-radius: 5px;
  padding-bottom: 1px;
  width: 70px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.editBtn {
  background-color: lawngreen;
  border-style: none;
  padding: 3px;
  padding-bottom: 1px;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* .taskvalue {
  width: 522px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  text-align: center;
  border-radius: 0px;
} */
.edit-input {
  width: 500px;
  border-radius: none;
}
.checked {
  opacity: 0.5;
}
.accordion {
  margin-top: 10px;
}

.accordion-header {
  width: 100%;
  height: 40px;
background-image: linear-gradient(to right, #00b4db, #0083b0); 
  text-align: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-content {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
}

.accordion-content.open {
  display: none; 
}
#myselect,#ampm,#min{
  width: 40px;
  height: 50px;
  background-color: rgba(255, 255,255, 0.05);
  border-radius: 2px;
  border: 2px solid black;
  cursor: pointer;
}
.completedTask {
  opacity: 0.4;
}
